Repository foundation-model-stack/multi-nic-cni, pull requests merged in 2025-08, with the labels that each got.

#316 chore: vf to pf matching
  daemon/src/allocator/allocator.go
  daemon/src/allocator/allocator_test.go
Labels: kind/chore

#321 fix strategy selector and increase test coverage to 70%
  config/samples/multinic.fms.io_ippool.yaml
  daemon/example/crd/multinic.fms.io_deviceclasses.yaml
  daemon/example/crd/multinic.fms.io_ippools.yaml
  daemon/example/crd/multinic.fms.io_multinicnetworks.yaml
  daemon/example/resource/example-ippools-net1.yaml
  daemon/example/resource/example-ippools-net2.yaml
  daemon/example/resource/example-multinicnet-devclass.yaml
  daemon/example/resource/example-multinicnet-topology.yaml
  daemon/example/resource/example-multinicnet.yaml
  daemon/example/resource/example-pod.yaml
  daemon/example/resource/example_devclass.yaml
  daemon/example/resource/example_net-attach-def.yaml
  daemon/src/allocator/allocator.go
  daemon/src/allocator/allocator_test.go
  daemon/src/allocator/suite_test.go
  daemon/src/backend/multinicnetwork.go
  daemon/src/selector/selector.go
  daemon/src/suite_test.go
  testing/multi-nicd-coverage.md
  testing/multi-nicd-unittest-report.md
Labels: kind/chore, kind/fix

#322 docs: add cni-plugins
  config/samples/multinic.fms.io_ippool.yaml
  daemon/dockerfiles/Dockerfile
  daemon/dockerfiles/Dockerfile.kbuilder
  daemon/example/crd/multinic.fms.io_deviceclasses.yaml
  daemon/example/crd/multinic.fms.io_ippools.yaml
  daemon/example/crd/multinic.fms.io_multinicnetworks.yaml
  daemon/example/resource/example-ippools-net1.yaml
  daemon/example/resource/example-ippools-net2.yaml
  daemon/example/resource/example-multinicnet-devclass.yaml
  daemon/example/resource/example-multinicnet-topology.yaml
  daemon/example/resource/example-multinicnet.yaml
  daemon/example/resource/example-pod.yaml
  daemon/example/resource/example_devclass.yaml
  daemon/example/resource/example_net-attach-def.yaml
  daemon/src/allocator/allocator.go
  daemon/src/allocator/allocator_test.go
  daemon/src/allocator/suite_test.go
  daemon/src/backend/multinicnetwork.go
  daemon/src/go.mod
  daemon/src/selector/selector.go
  daemon/src/suite_test.go
  document/docs/concept/cni-plugins.md
  document/docs/user_guide/index.md
  testing/multi-nicd-coverage.md
  testing/multi-nicd-unittest-report.md
Labels: kind/chore

#327 feat: bring worker list back to terraform
  infrastructure-preparation/ibmcloud/multinic.tf
  infrastructure-preparation/ibmcloud/output.tf
  infrastructure-preparation/ibmcloud/terraform.tfvars.template
Labels: kind/feat

#332 chore: add labeler bot
  .github/labeler.yml
  .github/workflows/commit-labeler.yml
  .github/workflows/labeler.yml
Labels: kind/chore

#336 chore: update go version and fix kbuilder workflow
  .github/workflows/build_push_kbuilder.yaml
Labels: kind/chore, kind/fix, area/ci

#338 fix: token secret and remove unneccessary branch build-push
  .github/workflows/version-update.yml
Labels: kind/fix, area/ci

#340 fix: token name in labeler
  .github/workflows/labeler.yml
Labels: kind/fix, area/ci

#341 chore: update release gen
  .github/release.yml
Labels: kind/chore, area/ci, release

#339 chore: update version to v1.3.1
  .github/workflows/build_push_concheck.yaml
  .github/workflows/build_push_controller.yaml
  .github/workflows/build_push_daemon.yaml
  .github/workflows/build_push_kbuilder.yaml
  .github/workflows/build_push_pr.yaml
  Makefile
  config/manager/kustomization.yaml
  config/samples/config.yaml
  config/samples/kustomization.yaml
  connection-check/concheck.yaml
  daemon/Makefile
  daemon/dockerfiles/Dockerfile.multi-nicd-test
  internal/vars/vars.go
Labels: kind/chore, area/controller, area/daemon, area/ci, release, chore, automated, area/config

#342 chore: remove ambiguous next step
  .github/workflows/version-update.yml
Labels: kind/chore, area/ci

#325 feat: add multi-path routes
  cni/go.mod
  cni/plugins/main/multi-nic/aws-ipvlan.go
  cni/plugins/main/multi-nic/host-device.go
  cni/plugins/main/multi-nic/ipvlan.go
  cni/plugins/main/multi-nic/macvlan.go
  cni/plugins/main/multi-nic/multi-nic.go
  cni/plugins/main/multi-nic/multi-nic_test.go
  cni/plugins/main/multi-nic/route.go
  cni/plugins/main/multi-nic/sriov.go
  cni/plugins/main/multi-nic/utils.go
  config/samples/multinicnetwork/ipvlanl2.yaml
Labels: dependencies, kind/feat, area/cni, area/testing, area/ci, area/config
